
{% extends 'templates/default.twig' %}

{% block title %} {{group.name}} {% endblock %}

{% block current %} Group {{group.name}} > Member{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <div class="widget-title span12">
                    <div class="btn-group btn-group-justified">
                        <a href="{{ base_url() }}/group/timeline/" class="btn btn-primary">Timeline</a>
                        <a href="{{ base_url()}}/pic/items/group" class="btn btn-primary ">Tugas</a>
                        <a href="" class="btn btn-primary active">Anggota</a>
                    </div>

                </div>
                <div class="panel-body" style="padding-top:20px;">
                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane active">
                            <span style="float:right; margin-top:5px;">
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-primary"  href="{{path_for('web.pic.search.member', {'group': group.id})}}">
                                        <i class="icon-collapse"></i> Tambah Anggota</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul style="font-size: larger" class="dropdown-menu">
                                        <li><a style="font-size: medium" href="{{ path_for('get.group.detail')}}">
                                            <i class="icon-fixed-width"> Info Grup</i></a>
                                        </li>
                                        <li><a style="font-size: medium" href="{{path_for('pic.get.user.item',{'id': login.id})}}">
                                            <i class="icon-fixed-width"> Daftar tugas saya</i></a>
                                        </li>
                                    </ul>
                                </div>
                                </span><br>
                                <div class="widget-box">
                    {% for member in members %}
                    <div style="padding:5px;" class="col-md-4" >
                        <div class="well dash-box" style="background:#f2f2f2;">
                            <a style="font-size: medium" href="{{path_for('pic.get.user.item',{'id': member.id})}}">
                            <img  style="margin-right:10px;" width="75" height="75"
                            onerror=this.src="{{ base_url() }}/assets/images/avatar.png"
                            src="{{ base_url() }}/assets/images/{{ member.image }}">
                        </a>
                            <span style="float: right; top: 1px; ">
                                <div class="btn-group span4">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </a>
                                    <ul style="left: -140px; top: 13px; "class="dropdown-menu">
                                        <li>
                                            <a href="{{path_for('web.pic.set.status', {'id':member.id, 'group':group.id})}}">
                                                <i  class="icon-fixed-width icon-wrench">
                                                    &nbsp Jadikan PIC</i></a>
                                                </li>
                                                <li>
                                                    <a href="{{ path_for('web.pic.set.as.member', {'id':member.id, 'group':group.id})}}">
                                                <i class="icon-fixed-width icon-user">
                                                    &nbsp Jadikan anggota</i></a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{{ path_for('web.pic.delete.member', {'id': member.id, 'group': group.id })}}">
                                                    <i class="icon-fixed-width icon-remove"> &nbsp Keluarkan dari grup</i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span style="position: absolute; float: right; font-family: Franklin Gothic Medium;">
                                        <br><b>{{ member.username }}</b><br>
                                        {% if member.status == 0 %}
                                        Anggota
                                        {% elseif member.status == 1 %}
                                        PIC
                                        {% elseif member.status == 2 %}
                                        Wali
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                {% if members != null %}
                    <nav aria-label="...">
                        <ul class="pager">
                            <div class="pagination">
                                <ul style="padding:0px;">
                                    {% if pagination.current > 1 %}
                                    <li><a href="{{path_for('pic.group.member') }}?page={{ pagination.current - 1 }}">
                                        Sebelumnya</a></li>
                                        {% endif %}
                                        <li class="active"> <a>{{ pagination.current }}</a></li>
                                        {% if pagination.current < pagination.total_page %}
                                        <li><a href="{{path_for('pic.group.member')}}?page={{ pagination.current + 1 }}">
                                            Selanjutnya</a></li>
                                            {% endif %}
                                </ul>
                            </div>
                        </ul>
                    </nav>
                {% else %}
                    <center><em>Tidak ada data</em></center>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
