{% extends 'templates/default.twig' %}

{% block title %} {{group.name}} {% endblock %}
{% block js %}
<style media="screen">
    .select2-results { color: #015b4d; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice
    { color: #0430b6; background-color: #254236; }

    .wrap {
    	position: relative;
    	width: 100%;
    	height: 40px;
    	margin-top: 25px;
    	overflow: hidden;
    }
    .date {
    	border: 0;
    	width: 100%;
    	height: 30px;
    	line-height: 24px;
    	position: absolute;
    	top: 0;
    	left: 0;
    	background: #fff;
    	border: 1px solid #999;
    	box-sizing: border-box;
    }
    .picker {
    	width: 200px;
    	height: 24px;
    	font-size: 999px;
    	opacity: 0;
    	position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	padding: 0;
    }
</style>
{% endblock %}
{% block script %}
{% if errors  %}
<script type="text/javascript">
$('#create').modal('show');
// $('#create').modal({"backdrop": "static"});
</script>
{% endif %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.select2').select2();
    $('.select2').select2({
            placeholder: "Semua anggota"
            // allowClear: true
        });
});

$(".picker").on("change", function() {
	var date = $(this).val();
	$(".date").val(date);
})

</script>
{% endblock %}

{% block current %} Group {{group.name}} > Daftar tugas {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <div class="widget-title span12">
                    <div class="btn-group btn-group-justified">
                        <a href="{{ base_url() }}/group/timeline/" class="btn btn-primary">Timeline</a>
                        <a href="#" class="btn btn-primary active">Tugas</a>
                        <a href="{{ base_url()}}/pic/group/member" class="btn btn-primary">Anggota</a>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane active">
                            <span style="float:right; margin-top:5px;">
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="modal" data-target="#create">
                                        <i class="icon-collapse"></i> Tambah tugas</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul style="font-size: larger" class="dropdown-menu">
                                        <li><a style="font-size: medium" href="{{ path_for('get.group.detail')}}">
                                            <i class="icon-fixed-width"> Info Grup</i></a>
                                        </li>
                                        <li><a style="font-size: medium" href="{{path_for('pic.get.user.item',{'id': login.id})}}">
                                            <i class="icon-fixed-width"> Daftar tugas saya</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        <div class="widget-box">
                          <br>
                              <h4>&nbsp&nbsp<i class="fa fa-list-alt" aria-hidden="true">
                                  Tugas Grup </i></h4>
                          <div class="widget-content nopadding">
                            <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Nama</th>
                                  <th>Kepada</th>
                                  <!-- <th>Perulangan</th> -->
                                  <th>Batas akhir</th>
                                  <th>Tindakan</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for key, item in items %}
                                  <tr>
                                      <td class="taskDesc">
                                          {{ (pagination.current - 1) * pagination.perpage + (key + 1) }}</td>
                                          <td class="taskDesc">
                                              <a href="{{ base_url()}}/pic/show/item/{{ item.id}}"
                                                value="{{item.id}}"title="Detail Tugas">
                                                {{ item.name }}</a></td>
                                          {% if item.username is null %}
                                          <td class="taskDesc">Semua anggota</td>
                                          {% else %}
                                          <td class="taskDesc">{{ item.username }}</td>
                                      {% endif %}
                                      <!-- <td class="taskDesc">{{ item.recurrent }}</td> -->
                                      <td class="taskDesc">{{ item.end_date | date('j-M-Y') }}</td>
                                      <td class="taskOptions">
                                          <div class="btn-group-sm">
                                              <a class="btn btn-danger" href="{{ path_for('pic.delete.item', {'id': item.id})}}"
                                               value="{{item.id}}"title="Hapus tugas">
                                               <i class="fa fa-trash-o fa-lg"></i></a>
                                          </div>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      {% if items != null %}
      <nav aria-label="...">
          <ul class="pager">
              <div class="pagination">
                  <ul>
                      {% if pagination.current > 1 %}
                      <li>
                          <a href="{{ base_url() }}/pic/items/group/{{group.id}}?page={{ pagination.current - 1 }}">
                              Sebelumnya</a></li>
                              {% endif %}
                              <li class="active"> <a>{{ pagination.current }}</a></li>
                              {% if pagination.current < pagination.total_page %}
                              <li>
                                  <a href="{{ base_url() }}/pic/items/group/{{group.id}}?page={{ pagination.current + 1 }}">
                                      Selanjutnya</a></li>{% endif %}
                                  </ul>
                              </div>
                          </ul>
                      </nav>
            {% else %}
            <center><em>Tidak ada tugas</em></center>
            {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>


<!-- line modal items-->
<div class="modal fade" id="create" role="dialog">
  <div class="modal-dialog">
    <div style="padding-left:20px;" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <center><h3 class="modal-title" id="lineModalLabel">
                Buat Tugas untuk member {{group.name}}</h3></center>
        </div>
        <div class="modal-body">

        <!-- content goes here -->
        <form  action="{{ path_for('web.pic.create.item')}}"
         method="POST" enctype="multipart/form-data">
            {% if errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">x</a>
                Mohon mengisi form dengan benar
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                        <label for="name">Nama :</label>
                        <input type="text" name="name" style="text-transform: capitalize;"
                         value="{{old.name}}" class="form-control">
                        {% if errors.name %}
                        <span class="help-block">{{ errors.name | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                        <label for="description">Deskripsi :</label>
                        <input type="text" name="description" style="text-transform: capitalize;"
                         value="{{old.description}}"class="form-control">
                        {% if errors.description %}
                        <span class="help-block">{{ errors.description | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group {{ errors.privacy ? 'has-error' : '' }}">
                        <label for="privacy">Privasi :</label>
                        <select class="form-control" name="privacy" >
                            <option {% if old.privacy == 0 %}
                             selected="selected"{% endif %}value="0">Publik</option>
                            <option {% if old.privacy == 1 %}
                             selected="selected"{% endif %} value="1">Privat</option>
                        </select>
                        {% if errors.public %}
                        <span class="help-block">{{ errors.privacy | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.recurrent ? 'has-error' : '' }}">
                        <label for="recurrent">Perulangan :</label>
                        <select class="form-control" name="recurrent" value="">
                            <option value="">Tanpa Perulangan</option>
                            <option {% if old.recurrent == "harian" %}
                             selected="selected"{% endif %} value="harian">Harian</option>
                            <option {% if old.recurrent == "mingguan" %}
                             selected="selected"{% endif %} value="mingguan">Mingguan</option>
                            <option {% if old.recurrent == "bulanan" %}
                             selected="selected"{% endif %} value="bulanan">Bulanan</option>
                            <option {% if old.recurrent == "tahunan" %}
                             selected="selected"{% endif %} value="tahunan">Tahunan</option>
                        </select>
                        {% if errors.recurrent %}
                        <span class="help-block">{{ errors.recurrent | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <b>Tanggal dimulai :</b>
                    <div style="height: 50px; margin-top: 6px;" class="form-group {{ errors.start_date ? 'has-error' : '' }} wrap">
                        <input type="date" name="start_date" value="{{old.start_date}}" class="form-control date">
                        <input class="picker" type="date">
                        <input type="hidden" name="group" value="{{ group.id }}">
                        {% if errors.start_date %}
                        <span class="help-block">{{ errors.start_date | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.user_id ? 'has-error' : '' }}">
                        <label for="recurrent">Ditugaskan untuk :</label>
                        <select style="width: 97%;" class="form-control select2" name="user_id[]" multiple="multiple">
                            <option value="">Semua Anggota</option>
                            {% for member in member %}
                            <option {% if old.user_id == member.id %}
                             selected="selected"{% endif %} value="{{ member.id}}">{{ member.username}}</option>
                            {% endfor %}
                        </select>
                        {% if errors.user_id %}
                        <span class="help-block">{{ errors.user_id | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-12">
                    <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                        <label for="image">Foto :</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-image"></i>
                            </div>
                            <input type="file" id="file" class="form-control"
                            name="image" placeholder="Item image">
                        </div>
                        {% if errors.image %}
                        <span class="help-block">{{errors.image | first}}</span>
                        {% endif %}<br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger"
                         data-dismiss="modal" role="button">Tutup</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary btn-hover-green" onClick="myFunction()">Buat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}
