{% extends 'admin/template/app.twig' %}
{% block title %}Admin - Home{% endblock %}
{% block current %}
    Dashboard Admin
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-4" >
            <a style="color:#fff" href="{{ path_for('admin.user.list') }}" class="">
                <div class="well dash-box" style="background:#0290af;">
                    <h2><span class="fa fa-user" aria-hidden="true"> {{count.user}}</span></h2>
                    <h4>User</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a style="color:#fff" href=" {{ path_for('admin.group.list') }} " class="">
                <div class="well dash-box" style="background:#e44703;">
                    <h2><span class="icon-group" aria-hidden="true"> {{count.group}}</span></h2>
                    <h4>Grup</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a style="color:#fff" href=" {{ path_for('admin.item.list') }} " class="">
                    <div class="well dash-box" style="background:#54bb03;">
                    <h2><span class="icon-tasks" aria-hidden="true"> {{count.item}}</span></h2>
                    <h4>Item</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a style="color:#fff" href=" {{ path_for('admin.guard.list') }} " class="">
            <div class="well dash-box" style="background:#4d04b4;)">
                <h2><span class="fa fa-user-circle-o" aria-hidden="true"> {{count.guard}}</span></h2>
                <h4>Wali</h4>
            </div>
            </a>
        </div>
        <div class="col-md-4">
            <a style="color:#fff" href="#" class="">
            <div class="well dash-box" style="background:#bf0442;)">
                <h2><span class="fa fa-user-circle-o" aria-hidden="true">
                     {{count.guard_req + count.user_req + count.group_req}}
                </span></h2>
                <h4>Request</h4>
            </div>
            </a>
        </div>
        <div class="col-md-4">
            <a style="color:#fff" href="#" class="">
            <div class="well dash-box" style="background:#016c32;)">
                <h2><span class="fa fa-user-circle-o" aria-hidden="true">
                     {{count.image}}
                </span></h2>
                <h4>Foto</h4>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
