
{% extends 'templates/default.twig' %}

{% block title %}Anggota  Grup{% endblock %}

{% block current %} Grup {{group.name}} > Daftar Anggota{% endblock %}

{% block content %}
<div class="panel panel-default">
    <a class="list-group-item active main-color-bg">
      <span align="center" aria-hidden="true">
          <i class=""></i></span> Daftar anggota {{group.name}}
    </a>
    <div class="panel-body">
        <div class="">
        <a class="btn" href="{{path_for('unreported.item.user.group')}}">
            <i class="fa fa-angle-double-left" aria-hidden="true">&nbsp&nbsp Kembali</i></a>
        </div>


        <div style="padding:5px;" class="col-md-3" >
            <div style="margin-top: 5px;" class="widget-box">

                <div style="padding-top:0px;" class="widget-content tab-content">
                    <div id="1" class="tab-pane active"><br>
                        <center> <b>Info Grup</b> <br>
                            <a href="{{path_for('enter.group',{'id': group.id})}}">
                                <img src="{{ base_url() }}/assets/images/{{ group.image }}"
                             height="151" width="151" style="margin-bottom:5px"></a></center>
                        <b>{{group.name}}</b><br><br>
                         {{group.description}}<br><br>

                    </div>
                    <div id="2" class="tab-pane">
                        <form action="{{path_for('group.update')}}" method="POST" enctype="multipart/form-data">
                             <div class="box-body">
                                 <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                                     <label>Nama:</label>
                                     <div class="input-group">
                                         <div class="input-group-addon" style="background:#706767" >
                                             <!-- <i class="fa fa-pencil-square-o"></i> -->
                                         </div>
                                         <input type="text" name="name" class="form-control"
                                          value="{{ group.name }}" placeholder="Nama grup">
                                     </div>
                                     {% if errors.name %}
                                     <span class="help-block">{{errors.name | first}}</span>
                                     {% endif %}
                                 </div>

                                 <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                                     <label>Deskripsi:</label>
                                     <div class="input-group">
                                         <div class="input-group-addon" style="background:#706767">
                                             <!-- <i class="fa fa-edit"></i> -->
                                         </div>
                                          <textarea name="description" class="form-control"
                                           rows="5">{{ group.description }}</textarea>
                                     </div>
                                     {% if errors.description %}
                                     <span class="help-block">{{errors.description | first}}</span>
                                     {% endif %}
                                 </div>
                                 <button type="submit" class="btn btn-social-button btn-tumblr pull-left" style="margin-top:11.5px">
                                     <i class="fa fa-cog"></i> Simpan perubahan</button>
                             </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:5px;" class="col-md-9" >
            {% for member in data %}
        <div style="padding:5px;" class="col-md-4" >
            <div class="well dash-box" style="background:#f2f2f2;">
                {% if member.image != null %}
                    <img  style="margin-right:10px;" width="75" height="75" alt="Foto {{member.name}}"
                    src="{{ base_url() }}/assets/images/{{ member.image }}">
                {% else %}
                    <img width="75" height="75" alt="Foto {{member.name}}"
                    src="{{ base_url() }}/assets/images/avatar.png">
                {% endif %}

                <span style="margin-left:10px; position: absolute; float: right; font-family: Franklin Gothic Medium;">
                    <br><b>{{ member.username }}</b><br>
                    {% if member.status_member == 0 %}
                    Anggota
                    {% elseif member.status_member == 1 %}
                    PIC
                    {% endif %}
                    <br><b>{{ member.registered_at }}</b><br>
                </span>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <div class="pagination">
                <ul>
                    {% if pagination.current > 1 %}
                    <li><a href="{{ base_url() }}/home/?page={{ pagination.current - 1 }}">
                        Sebelumnya</a></li>
                        {% endif %}
                        <li class="active"> <a>{{ pagination.current }}</a></li>
                        {% if pagination.current < pagination.total_page %}
                        <li><a href="{{ base_url() }}/home/?page={{ pagination.current + 1 }}">
                            Selanjutnya</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </ul>
            </nav>
</div>
{% endblock %}
