{% extends 'templates/default.twig' %}

{% block title %}List Anak{% endblock %}

{% block current %}List Anak{% endblock %}

{% block content %}


<div class="panel panel-default">
        <div class="container-fluid" style="background-color: #4080bf">
    		<div class="navbar-header primary" style=" margin-top:1.2%;">
    			<a href="#" style="font-size:130%; color:white; margin:10px;">Daftar Anak</a>
    		</div>
    		<div>
    			<ul class="nav navbar-nav navbar-right">
    				<li><a href="{{ path_for('guard.search')}}" style="color:white" onmouseover="this.style.backgroundColor='#4080bf'"  ><span ></span> Tambahkan Anak</a></li>
    			</ul>
    		</div>
    	</div>

    <div class="panel-body">
        {% for user in data %}

        <div style="padding:5px;" class="col-md-6" >
            <div class="well dash-box" style="background:#f2f2f2; height: auto; padding-bottom:60px;">
                <a href="#">
                {% if user.image != null %}
                    <img style="margin-right:17px;" width="140" height="140" alt="User"
                    src="{{ base_url() }}/assets/images/{{ user.image }}">
                {% else %}
                    <img style="margin-right:17px;" width="140" height="140" alt="User"
                    src="{{ base_url() }}/assets/images/avatar.png">
                {% endif %}
            </a>

                <span style="float: right; top: 1px; ">
                    <div class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <ul style="left: -140px; top: 13px; " class="dropdown-menu">
                        <li><a href="#"><i class="icon-fixed-width icon-pencil">
                             Lihat detail</i></a></li>
                        <li><a href="{{ path_for('item.archive', {'id': user.id }) }}"><i class="icon-fixed-width icon-pencil">
                             Lihat arsip laporan</i></a></li>
                        <li class="divider"></li>
                        <li><a href="{{path_for('guard.delete.user',{'id':user.id})}}"><i class="i"> Hapus anak</i></a></li>
                    </ul>
                </div>
                </span>
                <span style="position: absolute; float: right; margin-right:33px; font-family: Franklin Gothic Medium;">
                    <h4>{{ user.name}} ({{ user.username }})</h4>
                    <b>Email: </b> {{ user.email}}<br>
                    <b>Telepon: </b> {{ user.phone}}<br>
                    <b>Alamat: </b> {{ user.address}}<br>
                    <b>Terdaftar: </b> {{ user.created_at | date("j F Y ") }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
